<ion-content> 
  <ion-toolbar>
    <h1 [routerLink]="['/home']">Te Llevo App</h1>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarTema()">
        <ion-icon slot="icon-only" [name]="icono ? 'sunny' : 'moon'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div id="contenedor">
    <input type="text" placeholder="Usuario@duocuc.cl" [(ngModel)]="usuario">
    <input type="password" placeholder="Contraseña" [(ngModel)]="clave">

    <button (click)="login()">Ingresar</button>
    <p (click)="setOpen(true)">Olvidé mi contraseña</p>
    <p [routerLink]="['/registro']">Registrarse</p>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <div id="contenedor">
        <h1>Recuperar contraseña</h1>
        <input type="text" placeholder="usuario@gmail.com" [(ngModel)]="usuario">
        <button (click)="resetPass()">Recuperar</button>
        <button (click)="setOpen(false)">Cancelar</button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
